<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 

<head>
<meta charset="UTF-8" />
<title>Gestión de Vuelos</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- CSS Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous" />

<!---- Own CSS ---->
<link rel="stylesheet" href="/css/panel_control.css" />
<link rel="stylesheet" href="/css/bootstrap_configuration.css" />
<link rel="stylesheet" href="/css/tabla_admin.css" />
<link rel="stylesheet" href="/css/form_admin.css" />

<!---- Font Awesome ---->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	rel="stylesheet" />
</head>

<body>
	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		rel="stylesheet" />

	<!-- Comienza sidebar.  -->
	<nav id="sidebar" class="bg-danger">
		<div class="ms-3 me-3 mt-4 mb-1 text-center">
			<img th:src="@{/img/logo_login.png}" />
		</div>
		<ul class="list-unstyled components">
			<li class="ps-4"><a href="/gestion_usuarios"><i
					class="fa-solid fa-user"></i><span class="text-white">Gestión
						de Usuarios</span></a></li>
			<li class="ps-4"><a href="/gestion_vuelos"><i
					class="fa-solid fa-plane"></i><span class="text-white">Gestión
						de Vuelos</span></a></li>
			<li class="ps-4"><a href="/gestion_hoteles"><i
					class="fa-solid fa-hotel"></i><span class="text-white">Gestión
						de Hoteles</span></a></li>
			<li class="ps-4">
		        <a href="/gestion_paqueteTuristico"><i 
		        	class="fas fa-box-open"></i><span class="text-white">Gestión de
		            Paquetes</span></a>
		    </li>
			<br />
			<li class="ps-4"><a href="/registro_ventas" class="text-white"><i
					class="fa fa-shopping-cart" aria-hidden="true"></i><span
					class="text-white">Registro de Ventas</span></a></li>
			<li class="ps-4"><a href="/registro_mejor" class="text-white"><i
					class="fa fa-shopping-cart" aria-hidden="true"></i><span
					class="text-white">Mejores Ventas</span></a></li>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<li class="ps-4"><a href="/" class="text-white"><i
					class="fa fa-window-close" aria-hidden="true"></i><span
					class="text-white">Salir</span></a></li>

		</ul>
	</nav>
	<!-- Finaliza sidebar. -->

	<div class="container">
		<div class="row flex-lg-nowrap">
			<div class="col-12 col-lg-auto mb-3" style="width: 350px">
				
			</div>

			<!-- Comienza mantenedor. -->
			<div class="col">
				<div class="e-tabs mb-3 px-3">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link active" href="#">Vuelos</a>
						</li>
					</ul>
				</div>

				<div class="row flex-lg-nowrap" style="max-width: 800px;">
					<div class="col mb-3">
						<div class="e-panel card">
							<div class="card-header bg-danger text-white py-3">
			                	<h4 class="font-weight-bolder fw-bold">Editar Vuelo </h4>
			                </div>
							<div class="card-body">
								<div th:if="${msgg != null}" class="alert alert-warning" th:text="${msgg}" role="alert"></div>
								<form class="form" th:action="@{/vueloRegistroEditado}" method="post" th:object="${vueloEdit}" enctype="multipart/form-data">
									<input type="hidden" th:field="*{id}" th:value="${vueloEdit.id}">
									<input type="hidden" th:field="*{imagen}" th:value="${vueloEdit.imagen}">
									<div class="row">
										<div class="col">

											<div class="row">
					                            <div class="col">
					                              <div class="form-group">
					                                <label for="origen">Origen</label>
					                                <input class="form-control"  id="origen" type="text"  th:field="*{origen}" />
					                              </div>
					                            </div>
					                            <div class="col">
					                              <div class="form-group">
					                                <label for="destino">Destino</label>
					                                <input class="form-control"  id="destino" type="text"  th:field="*{destino}" />
					                              </div>
					                            </div>
					                        </div>
					                        
											<div class="row">
					                            <div class="col">
					                              <div class="form-group">
					                                <label for="aerolinea">Aerolínea</label>
					                                <input class="form-control"  id="aerolinea" type="text"  th:field="*{aerolinea}" />
					                              </div>
					                            </div>
					                            <div class="col">
					                              <div class="form-group">
					                                <label for="pasajeros">Pasajeros</label>
					                                <input class="form-control"  id="pasajeros" type="number"  min="0" th:field="*{pasajeros}" />
					                              </div>
					                            </div>
					                        </div>
					                        
											
											<div class="card">
					                          <h4 class="card-title fw-bold">Vuelo de Ida</h4>
											    <div class="card-body">
											        <div class="row">
											            <div class="col">
											                <div class="form-group">
											                    <label for="fecha">Fecha de Partida</label>
											                    <input class="form-control" id="fechaPartida" type="date" th:field="*{fechaPartida}" />
											                </div>
											            </div>
											            <div class="col">
											                <div class="form-group">
											                    <label for="horaPartida">Hora de Partida</label>
											                    <input class="form-control" id="horaPartida" type="time" th:field="*{horaPartida}" />
											                </div>
											            </div>
											        </div>
											        <div class="row">
													    <div class="col">
													        <div class="form-group">
													            <label for="fecha">Fecha de LLegada</label>
													            <input class="form-control" id="fechaPartida2" type="date" th:field="*{fechaPartida2}" />
													        </div>
													    </div>
													    <div class="col">
													        <div class="form-group">
													            <label for="horaPartida">Hora de Llegada</label>
													            <input class="form-control" id="horaPartida2" type="time" th:field="*{horaPartida2}" />
													        </div>
													    </div>
													</div>
											    </div>
											  </div>
											  
											  
											  <div class="card">
					                          <h4 class="card-title fw-bold">Vuelo de Regreso</h4>
											    <div class="card-body">
											        <div class="row">
											            <div class="col">
											                <div class="form-group">
											                    <label for="fecha">Fecha de Partida</label>
											                    <input class="form-control"  id="fechaRegreso" type="date"  th:field="*{fechaRegreso}" />
											                </div>
											            </div>
											            <div class="col">
											                <div class="form-group">
											                    <label for="horaPartida">Hora de Partida</label>
											                    <input class="form-control" id="horaRegreso" type="time" th:field="*{horaRegreso}" />
											                </div>
											            </div>
											        </div>
											        <div class="row">
													    <div class="col">
													        <div class="form-group">
													            <label for="fecha">Fecha de LLegada</label>
													            <input class="form-control" id="fechaRegreso2" type="date" th:field="*{fechaRegreso2}" />
													        </div>
													    </div>
													    <div class="col">
													        <div class="form-group">
													            <label for="horaPartida">Hora de Llegada</label>
													            <input class="form-control" id="horaRegreso2" type="time" th:field="*{horaRegreso2}" />
													        </div>
													    </div>
													</div>
											    </div>
											</div>
											
											<div class="row">
												<div class="col">
													<div class="form-group">
														<label for="precio">Precio</label> <input
															class="form-control" id="precio" type="number" min="0" step=0.01
															th:field="*{precio}" />
													</div>
												</div>
											</div>
											 <div class="row">
						                        <div class="col">
						                          <div class="form-group">
						                            <label  for="archivoImagen">Imagen</label>
						                            <input class="form-control-file"  id="archivoImagen" name="archivoImagen" type="file"/>
						                          </div>
						                        </div>
						                      </div>
						                      <div class="row">
						                        <div class="col">
						                          <div class="form-group">
						                            <label  for="imagen">Imagen - Destino</label>
						                            <img style="max-width: 300px; height: 200px; display: block;" class="rounded form-control-file" 
						                            	 th:src="@{/logos/{img} (img=${vueloEdit.imagen})  }" alt="Generic placeholder image">
						                          </div>
						                        </div>
						                      </div>
						                      <div id="mensajeError" style="color: red;"></div>
						                      <br><br>
										</div>
									</div>
									<div class="row">
										<div class="col d-flex justify-content-end">
											<button class="btn btn-danger" type="submit">Editar vuelo</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>

				</div>


			</div>
			<!-- Finaliza mantenedor. -->
		</div>
	</div>

	<!-- Comienza footer. -->
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<nav class="d-flex">
						<ul class="m-0 p-0">
<!-- 							<li><a href="#"> Inicio </a></li> -->
						</ul>
					</nav>
				</div>
				<div class="col-md-6">
					<p class="copyright d-flex justify-content-end">Copyright 2023
						nmviajes All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Finaliza footer. -->
	<!-- Finaliza footer. -->
	<style type="text/css">
		body {
			margin-top: 20px;
			background: #f8f8f8;
		}
	</style>

	<script type="text/javascript"></script>

	<!-- Own Javascript -->
	<script th:src="@{/js/index.js}"></script>

	<!-- Bootstrap JavaScript -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</html>