<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<head>
<meta charset="UTF-8" />
    <title>Gestión de Vuelos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!---- Own CSS ---->
    <link rel="stylesheet" href="/css/panel_control.css" />
    <link rel="stylesheet" href="/css/bootstrap_configuration.css" />
    <link rel="stylesheet" href="/css/tabla_admin.css" />
    <link rel="stylesheet" href="/css/form_admin.css" />

    <!---- Font Awesome ---->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  
  <!-- Data Table -->
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css'>
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css'>
    
    <link rel="stylesheet" href="/css/bootstrap_configuration.css" />
    
    <style type="text/css">
      body {
        margin-top: 20px;
        background: #f8f8f8;
      }
    </style>
    
</head>
  
<body>

    <!-- Comienza sidebar.  -->
  <nav id="sidebar" class="bg-danger">
    <div class="ms-3 me-3 mt-4 mb-1 text-center">
      <img th:src="@{/img/logo_login.png}" />
    </div>
    <ul class="list-unstyled components">
      <li class="ps-4">
        <a href="/gestion_usuarios"><i class="fa-solid fa-user"></i><span class="text-white">Gestión de
            Usuarios</span></a>
      </li>
      <li class="ps-4">
        <a href="/gestion_vuelos"><i class="fa-solid fa-plane"></i><span class="text-white">Gestión de
            Vuelos</span></a>
      </li>
      <li class="ps-4">
        <a href="/gestion_hoteles"><i class="fa-solid fa-hotel"></i><span class="text-white">Gestión de
            Hoteles</span></a>
      </li>
      <li class="ps-4">
        <a href="/gestion_paqueteTuristico"><i class="fas fa-box-open"></i><span class="text-white">Gestión de
            Paquetes</span></a>
      </li>
      <br />
      <li class="ps-4">
        <a href="/registro_ventas" class="text-white"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span
            class="text-white">Registro de Ventas</span></a>
      </li>
      <li class="ps-4">
        <a href="/registro_mejor" class="text-white"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span
            class="text-white">Mejores Ventas</span></a>
      </li>
      <br /><br /><br /><br /><br /><br /><br /><br />
      <li class="ps-4">
        <a href="/" class="text-white"><i class="fa fa-window-close" aria-hidden="true"></i><span
            class="text-white">Salir</span></a>
      </li>
      
    </ul>
  </nav>
  <!-- Finaliza sidebar. -->

    <div class="container">
      <div class="row flex-lg-nowrap">
      
      
        <div class="col-12 col-lg-auto mb-3" style="width: 100px">
        </div>

        <!-- Comienza mantenedor. -->
        <div >
          <div class="e-tabs mb-3 px-3">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Vuelos</a>
              </li>
            </ul>
          </div>

          <div class="row flex-lg-nowrap">
            <div class="col mb-3">
              <div class="e-panel card">
                <div class="card-body">
                  <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                      <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}" role="alert"></div>
                      <table class="table align-middle    table-hover display" style="width:100%" id="miTabla">
                      	<thead class="bg-danger text-white ">
                          <tr>
                          	<th>ID</th>
                            <th>Orígen</th>
                            <th>Destino</th>
                            <th>Aerolínea</th>
                            <th>Vuelo Ida</th>
                            <th>Vuelo Regreso</th>
                            <th>Precio</th>
                            <th>Opciones</th>         
                          </tr>
                        </thead>
                        <tbody>
                          
                          <tr th:each="v:${user}">
                          	<td class="text-nowrap align-middle" th:text="${v.id}"></td>
                            <td class="text-nowrap align-middle" th:text="${v.origen}"></td>
                            <td class="text-nowrap align-middle" th:text="${v.destino}"></td>
                            <td class="text-nowrap align-middle" th:text="${v.aerolinea}"></td>
                            
                            <td class="text-nowrap align-middle">
							  <span th:text="${v.fechaPartida + ' (' + v.horaPartida + ') '}"></span>
							  <br/>
							  <span th:text="${v.fechaPartida2 + ' (' + v.horaPartida2 + ') '}"></span>
							</td>
							
							<td class="text-nowrap align-middle">
							  <span th:text="${v.fechaRegreso + ' (' + v.horaRegreso + ') '}"></span>
							  <br/>
							  <span th:text="${v.fechaRegreso2 + ' (' + v.horaRegreso2 + ') '}"></span>
							</td>
                            
                            <td class="text-nowrap align-middle" th:text="${v.precio}"></td>
                            
                            <td class="d-flex">
	                           <a th:href="@{'/vuelos/editar'+'/'+ ${v.id}}"
	                              onclick="return confirm('¿Estas seguro de editar el vuelo?')" class="btn btn-warning btn-sm" 
	                              role="button" title="Editar Vuelo."
	                              style="font-size: 14px; padding: 5px 10px; margin-bottom: 10px; margin-right: 10px;">
	                              <i class="fas fa-pencil" aria-hidden="true"></i>
	                            </a>
	                            <a th:href="@{'/vuelos/eliminar'+'/'+ ${v.id}}"
	                               onclick="return confirm('¿Estas seguro de eliminar el vuelo?')" class="btn btn-danger btn-sm" 
	                               role="button" title="Eliminar Vuelo."
	                               style="font-size: 14px; padding: 5px 10px; margin-bottom: 10px; margin-right: 10px;">
	                               <i class="fas fa-trash" aria-hidden="true"></i>
	                            </a>                     
	                        </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
<!--                    paginacion -->
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3">
		    <div class="mi-contenedor">
		        <h2 class="text-center">Opciones</h2>
		        <p>Contenido - multiples opciones.</p>
		
		        <div class="text-center mt-3">
		            <a class="btn btn-primary btn-lg btn-block text-white" type="button" data-toggle="modal" data-target="#user-form-modal">
		                <i class="fas fa-plane-departure"></i>  Nuevo Vuelo
		            </a>
		        </div>
		
		        <div class="text-center mt-3">
		            <a class="btn btn-info btn-lg btn-block" th:href="@{/configuracion}">
		                <i class="fas fa-cogs"></i> Configuración
		            </a>
		        </div>
		        
		        <div class="text-center mt-3">
			      <a class="btn btn-success btn-lg btn-block" th:href="@{/export/allVuelos}">
			        <i class="fas fa-file-excel"></i> Exportar Datos
			      </a>
				</div>		        
		    </div>
		  </div>
            
            

          <!-- Vuelo Form Modal -->
          <div
            class="modal fade"
            role="dialog"
            tabindex="-1"
            id="user-form-modal"
          >
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header bg-danger">
                  <h5 class="modal-title text-white">Nuevo Vuelo</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="py-1">

                    <form class="form" th:action="@{/vueloRegistro}" method="post" th:object="${vueloObject}" enctype="multipart/form-data">
                      <div th:if="${msgg != null}" class="alert alert-warning" th:text="${msgg}" role="alert"></div>
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="origen">Origen</label>
                                <input class="form-control"  id="origen" type="text"  th:field="*{origen}" required/>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label for="destino">Destino</label>
                                <input class="form-control"  id="destino" type="text"  th:field="*{destino}" required/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="aerolinea">Aerolínea</label>
                                <input class="form-control"  id="aerolinea" type="text"  th:field="*{aerolinea}" required/>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label for="pasajeros">Pasajeros</label>
                                <input class="form-control"  id="pasajeros" type="number" min="0" th:field="*{pasajeros}" required/>
                              </div>
                            </div>
                          </div>
                          
                          <div class="card">
                          <h5 class="card-title">Vuelo de Ida</h5>
						    <div class="card-body">
						        <div class="row">
						            <div class="col">
						                <div class="form-group">
						                    <label for="fecha">Fecha de Partida</label>
						                    <input class="form-control" id="fechaPartida" type="date" th:field="*{fechaPartida}" required/>
						                </div>
						            </div>
						            <div class="col">
						                <div class="form-group">
						                    <label for="horaPartida">Hora de Partida</label>
						                    <input class="form-control" id="horaPartida" type="time" th:field="*{horaPartida}" required/>
						                </div>
						            </div>
						        </div>
						        <div class="row">
								    <div class="col">
								        <div class="form-group">
								            <label for="fecha">Fecha de LLegada</label>
								            <input class="form-control" id="fechaPartida2" type="date" th:field="*{fechaPartida2}" required/>
								        </div>
								    </div>
								    <div class="col">
								        <div class="form-group">
								            <label for="horaPartida">Hora de Llegada</label>
								            <input class="form-control" id="horaPartida2" type="time" th:field="*{horaPartida2}" required/>
								        </div>
								    </div>
								</div>
						    </div>
						  </div>
						  
						  
						  <div class="card">
                          <h5 class="card-title">Vuelo de Regreso</h5>
						    <div class="card-body">
						        <div class="row">
						            <div class="col">
						                <div class="form-group">
						                    <label for="fecha">Fecha de Partida</label>
						                    <input class="form-control"  id="fechaRegreso" type="date"  th:field="*{fechaRegreso}" required/>
						                </div>
						            </div>
						            <div class="col">
						                <div class="form-group">
						                    <label for="horaPartida">Hora de Partida</label>
						                    <input class="form-control" id="horaRegreso" type="time" th:field="*{horaRegreso}" required/>
						                </div>
						            </div>
						        </div>
						        <div class="row">
								    <div class="col">
								        <div class="form-group">
								            <label for="fecha">Fecha de LLegada</label>
								            <input class="form-control" id="fechaRegreso2" type="date" th:field="*{fechaRegreso2}" required/>
								        </div>
								    </div>
								    <div class="col">
								        <div class="form-group">
								            <label for="horaPartida">Hora de Llegada</label>
								            <input class="form-control" id="horaRegreso2" type="time" th:field="*{horaRegreso2}" required/>
								        </div>
								    </div>
								</div>
						    </div>
						  </div>
                          
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label  for="precio">Precio</label>
                                <input class="form-control"  id="precio" type="number" step=0.01 min="0" th:field="*{precio}" required/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label  for="archivoImagen">Imagen</label>
                                <input class="form-control-file"  id="archivoImagen" name="archivoImagen" type="file" required/>
                              </div>
                            </div>
                          </div>
                          <br><br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-danger" type="submit">
                            Guardar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Finaliza mantenedor. -->
      </div>
    </div>

    <!-- Comienza footer. -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <nav class="d-flex">
              <ul class="m-0 p-0">
                <li>
<!--                   <a href="#"> Inicio </a> -->
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-6">
            <p class="copyright d-flex justify-content-end">
              Copyright 2023 nmviajes All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Finaliza footer. -->

<!-- Finaliza footer. -->

    <script type="text/javascript"></script>
	<!-- Own Javascript -->
	<script th:src="@{/js/index.js}"></script>

	<!-- Bootstrap JavaScript -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	
	<!-- 	DATATABLE -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    $(document).ready(function() {
        var modal = new URLSearchParams(window.location.search).get('modal');
        if (modal === 'true') {
            $('#user-form-modal').modal('show');
        }
    });
</script>
	

	
	<script type="text/javascript">    
	    
	    $(document).ready(function(){
	    	$(document).ready(function(){
		    	let table = $('#miTabla').DataTable({
			    	select: 'single',//selecciona 1 solo registro de la tabla
			    	lengthChange: false,//deshabilitar show entry
			    	language: {
			    		search: "Búsqueda",
			            info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
			            infoEmpty: "Mostrando 0 a 0 de 0 registros",
			            infoFiltered: "(filtrados de _MAX_ registros totales)",
			            infoPostFix: "",
			            lengthMenu: "Mostrar _MENU_ registros por página",
			            zeroRecords: "No se encontraron registros",
			            paginate: {
			                first: "Primero",
			                previous: "Anterior",
			                next: "Siguiente",
			                last: "Último"
			            },
			            select: true,
			            select: {
			                rows: {
			                    _: "%d filas seleccionados",
			                    //0: "Ninguna fila seleccionada",
			                    1: "1 fila seleccionada"
			                }
			            }
			    	}
			    });//fin datatable
		    	
		    });
	    });
    </script>
</html>