<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	 
<head>
  <meta charset="UTF-8" />
  <title>Editar Paquete Turístico</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

  <!---- Own CSS ---->
  <link rel="stylesheet" href="/css/panel_control.css" />
  <link rel="stylesheet" href="/css/bootstrap_configuration.css" />
  <link rel="stylesheet" href="/css/tabla_admin.css" />
  <link rel="stylesheet" href="/css/form_admin.css" />

  <!---- Font Awesome ---->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  
  
</head>

<body>
  

  <!-- Comienza sidebar.  -->
  <nav id="sidebar" class="bg-danger">
    <div class="ms-3 me-3 mt-4 mb-1 text-center">
      <img th:src="@{/img/logo_login.png}" />
    </div>
    <ul class="list-unstyled components">
      <li class="ps-4">
        <a href="/gestion_usuarios"><i class="fa-solid fa-user"></i><span class="text-white">Gestión de
            Usuarios</span></a>
      </li>
      <li class="ps-4">
        <a href="/gestion_vuelos"><i class="fa-solid fa-plane"></i><span class="text-white">Gestión de
            Vuelos</span></a>
      </li>
      <li class="ps-4">
        <a href="/gestion_hoteles"><i class="fa-solid fa-hotel"></i><span class="text-white">Gestión de
            Hoteles</span></a>
      </li>
      <br />
      <li class="ps-4">
        <a href="/registro_ventas" class="text-white"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span
            class="text-white">Registro de Ventas</span></a>
      </li>
      <li class="ps-4">
        <a href="/registro_mejor" class="text-white"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span
            class="text-white">Mejores Ventas</span></a>
      </li>
      <br /><br /><br /><br /><br /><br /><br /><br />
      <li class="ps-4">
        <a href="/" class="text-white"><i class="fa fa-window-close" aria-hidden="true"></i><span
            class="text-white">Salir</span></a>
      </li>
    </ul>
  </nav>
  <!-- Finaliza sidebar. -->

  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-lg-auto mb-3" style="width: 350px">
        
      </div>


      <!-- Comienza mantenedor. -->
      <div class="col">
      <br> 
        <div class="e-tabs mb-3 px-3">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Paquete Turístico</a>
            </li>
          </ul>
        </div>
        
        
        <div class="row flex-lg-nowrap" style="width: 800px;">
        
          <div class="col mb-3">
            <div class="e-panel card">
              <div class="card-header bg-danger text-white py-3">
                  <h4 class="font-weight-bolder fw-bold">Editar Paquete Turístico </h4>
              </div>
              <div class="modal-body mx-auto" style="width: 700px;">
                <form class="form" th:action="@{/paqueteRegistroEditado}" method="post" th:object="${paqueteObject}">
                 <input type="hidden" th:field="*{id}" th:value="${paqueteObject.id}">
                  <div class="row">
                    <div class="col">
                    <br>
                    
                     <div class="campo_origen m-1" >
		                 <label class="fw-bold" >Vuelo: </label>
						 <select th:field="*{vuelo.id}" class="form-select" id="vueloo" aria-label="Default select example" required>
						 	<option th:value="${null}" selected >Seleccione un vuelo</option>
		                    <option th:each="v:${listaVuelo}" 
									th:value="${v.id}"
	      								th:text="${v.origen + '-' + v.destino + ', ' + v.aerolinea}">
							</option>
		                 </select>
	               	  </div>
	               	  
	               	  
<!-- 	               	  <div id="datosVuelo" style="display:none; "> -->
					               <div class="row">
									    <div class="col-md-6">
									        <div class="card">
									            <h5 class="card-title">Vuelo de Ida</h5>
									            <div class="card-body">
									                <div class="row">
											            <div class="col">
											                <div class="form-group">
											                    <label>Fecha de Partida</label>
											                    <input class="form-control" id="fechaPartida" type="text" th:field="*{vuelo.fechaPartida}" disabled/>
											                </div>
											            </div>
											            <div class="col">
											                <div class="form-group">
											                    <label for="horaPartida">Hora de Partida</label>
											                    <input class="form-control" id="horaPartida" type="text" th:field="*{vuelo.horaPartida}" disabled/>
											                </div>
											            </div>
											        </div>
											        <div class="row">
													    <div class="col">
													        <div class="form-group">
													            <label for="fecha">Fecha de LLegada</label>
													            <input class="form-control" id="fechaPartida2" th:field="*{vuelo.fechaPartida2}" type="text" disabled/>
													        </div>
													    </div>
													    <div class="col">
													        <div class="form-group">
													            <label for="horaPartida">Hora de Llegada</label>
													            <input class="form-control" id="horaPartida2" th:field="*{vuelo.horaPartida2}" type="text" disabled/>
													        </div>
													    </div>
													</div>
									            </div>
									        </div>
									    </div>
									    
									    <div class="col-md-6">
									        <div class="card">
									            <h5 class="card-title">Vuelo de Regreso</h5>
									            <div class="card-body">
									                <div class="row">
											            <div class="col">
											                <div class="form-group">
											                    <label for="fecha">Fecha de Partida</label>
											                    <input class="form-control"  id="fechaRegreso" th:field="*{vuelo.fechaRegreso}" type="text" disabled/>
											                </div>
											            </div>
											            <div class="col">
											                <div class="form-group">
											                    <label for="horaPartida">Hora de Partida</label>
											                    <input class="form-control" id="horaRegreso" th:field="*{vuelo.horaRegreso}" type="text" disabled/>
											                </div>
											            </div>
											        </div>
											        <div class="row">
													    <div class="col">
													        <div class="form-group">
													            <label for="fecha">Fecha de LLegada</label>
													            <input class="form-control" id="fechaRegreso2" th:field="*{vuelo.fechaRegreso2}" type="text" disabled/>
													        </div>
													    </div>
													    <div class="col">
													        <div class="form-group">
													            <label for="horaPartida">Hora de Llegada</label>
													            <input class="form-control" id="horaRegreso2" th:field="*{vuelo.horaRegreso2}" type="text" disabled/>
													        </div>
													    </div>
													</div>
									            </div>
									        </div>
									    </div>
								   </div>
<!-- 							   </div> -->
	               	  
	               	  
	               	  <div class="campo_origen m-1" >
	                  <label class="fw-bold" >Hotel: </label>
					  <select th:field="*{hospedaje.id}" class="form-select" id="hotels" aria-label="Default select example" required>
						 	<option th:value="${null}" selected >Seleccione un Hotel</option>
		                    <option th:each="h:${listaHospedaje}" 
									th:value="${h.id}"
	      							th:text="${h.nombre + ', ' + h.ubicacion}">
							</option>
	                   </select>
	                  </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="fw-bold"> Habitaciones</label>
                            <input class="form-control" type="number" step=1 min="0" th:field="*{habitaciones}" oninput="validarEntero(this)" required/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="fw-bold"> Personas</label>
                            <input class="form-control" type="number" step=1 min="0" th:field="*{pasajeros}" oninput="validarEntero(this)" required/>
                            
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="fw-bold" >Precio</label>
                            <input class="form-control" id="precio" type="number" min="0" step=0.1 th:field="*{precio}" required/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
					    <div class="col mt-3 md-6">
					        <div class="form-group">
					            <label class="fw-bold" for="imagen">Imagen - Destino</label>
					            <img style="max-width: 300px; height: 200px; display: block;" id="imagenVuelo2" class="rounded form-control-file" 
					                th:src="@{/logos/{img} (img=${paqueteObject.vuelo.imagen})}" alt="Generic placeholder image">
					        </div>
					    </div>
					    <div class="col mt-3 md-6">
					        <div class="form-group">
					            <label class="fw-bold" for="imagen">Imagen - Hotel</label>
					            <img style="max-width: 300px; height: 200px; display: block;" id="imagenHotels" class="rounded form-control-file" 
					                th:src="@{/hoteles/{img} (img=${paqueteObject.hospedaje.imagen})}" alt="Generic placeholder image">
					        </div>
					    </div>
					  </div>
                      
                      <div id="mensajeError" style="color: red;"></div>
                      
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col d-flex justify-content-end">
                      <button class="btn btn-danger" type="submit">
                        Editar
                      </button>
                    </div>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        </div>
      <!-- Finaliza mantenedor. -->
    </div>
  </div>

  <!-- Comienza footer. -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <nav class="d-flex">
            <ul class="m-0 p-0">
              <li>
                <a href="#"> Inicio </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-6">
          <p class="copyright d-flex justify-content-end">
            Copyright 2023 nmviajes All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Finaliza footer. -->

<!-- Finaliza footer. -->

  

  <script type="text/javascript"></script>
	<!-- Own Javascript -->
	<script th:src="@{/js/index.js}"></script>

	<!-- Bootstrap JavaScript -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</body>


	<script>
	  $(document).ready(function() {
	    $('#vueloo').change(function() {
	      var id_vuelo = $(this).val();
	      $.ajax({
	        url: '/vuelo_detalle/' + id_vuelo,
	        type: 'GET',
	        dataType: 'json',
	        success: function(data) {
	          $('#fechaPartida').val(data.fechaPartida);
	          $('#fechaPartida2').val(data.fechaPartida2);
	          $('#horaPartida').val(data.horaPartida);
	          $('#horaPartida2').val(data.horaPartida2);
	          $('#fechaRegreso').val(data.fechaRegreso);
	          $('#horaRegreso').val(data.horaRegreso);
	          $('#fechaRegreso2').val(data.fechaRegreso2);
	          $('#horaRegreso2').val(data.horaRegreso2);
	          //$('#imagenVuelo2').val(data.imagen);
	          $('#imagenVuelo2').attr('src', '/logos/' + data.imagen);
	          //$('#datosVuelo').show();
	        }
	      });
	    });
	  });
	</script>
	
	<script>
	  $(document).ready(function() {
	    $('#vueloo').change(function() {
	      var id_vuelo_destino = $(this).val();
	      //alert(id_vuelo_destino);
	      $.ajax({
	        url: '/hoteles_select_filtro/' + id_vuelo_destino,
	        type: 'GET',
	        dataType: 'json',        //data es el array que objengo de esa url
	        success: function(data) {//se ejecutara si la solicitud fue exitosa, data contine la respuesta en formato json
	          var html = ''; //usará para construir el HTML que se insertará en un elemento del DOM.
	          var len = data.length; //Obtiene la longitud del array JSON data.(lista de hoteles filtrados)
	          //var data_img;
	          
	          if(len == 0){
	        	  html = '<option value="">No hay hoteles disponibles en la ciudad de destino.</option>';
	          }
	          
	          for (var i = 0; i < len; i++) {//recorre la lista(data) y crea un option con cada elemento en el select
	            html += '<option value="' + data[i].id + '">' + data[i].nombre + ', ' + data[i].ubicacion + '</option>';
	            //data_img += data[i].imagen;
	          }
	          
	          $('#hotels').html(html);//al select le paso ese html generado con la lista de <options>
	          //alert(data_img);
	          //$('#imagenHotels').attr('src', '/hoteles/' + data_img);		
	        }
	      });
	    });
	    
	    //ESTO SE MODIFICO EN EL SCRIPT ANTERIOR Y SE JUNTO CON EL ANIDADO DE VUELO-HOTEL
// 	    $('#hotels').change(function() {
// 		      var id_hotels = $(this).val();
// 		      $.ajax({
// 		        url: '/hotels_detalle/' + id_hotels,
// 		        type: 'GET',
// 		        dataType: 'json',
// 		        success: function(data) {
// 		          $('#imagenHotels').attr('src', '/hoteles/' + data.imagen);
// 		        }
// 		      });
// 		    });
	    
	  });
	</script>
	

	

	<script>
	    function validarEntero(input) {
	        var valor = input.value;
	        
	        if (!Number.isInteger(parseFloat(valor))) {
	            document.getElementById("mensajeError").textContent = "Ingresa solo números enteros.";
	            input.value = "";
	        } else {
	            document.getElementById("mensajeError").textContent = "";
	        }
	    }
	</script>
	
</html>